[submodule "SmartCrypto2"]
	path = SmartCrypto2
	url = https://github.com/bencarlisle15/SmartCrypto.git
[submodule "SmartCrypto"]
	path = SmartCrypto
	url = https://github.com/bencarlisle15/SmartCrypto.git
